/*
Theme (Main Office add-in use IE11 as browser, which can't use custom properties)
  Color
    flash: #CEE5F5;
    light-primary: #AACBE2;
    primary: #377BAB;
    dark-primary: #003399;
    light-secondary: #dd4b39;
    dark-secondary: #c40000;
    support: #F0D6D6;
    semi-dark: #666;
    sm-dark: #777;
    sm-light: #ccc;
    semi-light: #eee;
    light: #f4f4f4;
    md-light: #fafafa;

  Font Family
    primary: 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
    heaer: 'Georgia', serif;
    ngram: Arial, Helvetica, sans-serif;
    subheader: Arial,sans-serif;

  Font Size
    exlg: 1.2em;
    lg: 1em;
    md: 0.9em;
    sm: 0.8em;
*/

.ff-primary {
  font-family: 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
}

body            { font-family: sans-serif; background: #f4f4f4; }
a, h1, h2       { color: #377BAB; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }
.example        { padding-left: 2.3em; text-decoration: none;color: #003399; font-style: italic; margin:0;}
.ngram          { font-size: 1em; font-weight: bold; line-height: 1.5em; font-family: Arial, Helvetica, sans-serif; margin-top:8px; margin-bottom:0;}
.example .main {}
.example .prev {opacity: 0.6;}
.example .post {opacity: 0.6;}
.example .translate {opacity: 0.7; padding-right:5px}
.example .c1 {color:#eee;}
.example .c2 {color:#eee;}

#hdtb_msb {
  outline-width: 0;
  outline: none;
  display: inline-block;
  float: left;
  position: relative;
  white-space: nowrap;
  line-height: 35px;
  color: #666;
  font-size: small;
  -webkit-user-select: none;
}

.hdtb_msel {
  border-bottom: 3px solid #dd4b39;
  color: #dd4b39;
  font-weight: bold;
  height: 35px;
  margin: 2px 8px 0;
  padding: 0 8px;
}

.hdtb_mitem {
  outline-width: 0;
  outline: none;
  display: inline-block;
  white-space: nowrap;
  line-height: 35px;
  font-size: small;
  -webkit-user-select: none;
  font-family: arial,sans-serif;
}

#hdtbSum {
  display: none;
}

.hdtb_mitem a {
  color: #777;
  outline-width: 0;
  outline: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
  padding: 0 8px;
  text-decoration: none;
}

.ms-List {
    margin-bottom: 2rem;
}

.animation-duration-10 {
    -webkit-animation-duration: .167s;
    -moz-animation-duration: .167s;
    -ms-animation-duration: .167s;
    -o-animation-duration: .167s;
    animation-timing-function: cubic-bezier(.1,.9,.2,1);
    animation-fill-mode: both;
}

.animation-duration-20 {
    -webkit-animation-duration: .367s;
    -moz-animation-duration: .367s;
    -ms-animation-duration: .367s;
    -o-animation-duration: .367s;
    animation-timing-function: cubic-bezier(.1,.9,.2,1);
    animation-fill-mode: both;
}

.ms-Button{
    box-sizing: border-box;
    margin: 0;
    box-shadow: none;
    font-family: Segoe UI WestEuropean,Segoe UI,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #333;
    font-size: 1.5em;
    font-weight: 400;
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    min-width: 80px;
    padding: 4px 20px 6px;
}

.ms-Button.ms-Button--hero{
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    border: 0;
    padding: 0;
    position: relative;
}

.ms-Button:hover .ms-Button-label {
    color: #000;
}

@media screen and (-ms-high-contrast:active) {
    .ms-Button:hover {
        color: #1aebff;
        border-color: #1aebff;
    }
}

@media screen and (-ms-high-contrast:black-on-white) {
    .ms-Button:hover {
        color: #37006e;
        border-color: #37006e;
    }
}

.ms-Button:focus {
    background-color: #eaeaea;
    border-color: #0078d7;
    outline: 1px solid transparent;
}

.ms-Button-label {
    color: #333;
    font-weight: 600;
    font-size: 14px;
}

.ms-Button.ms-Button--hero .ms-Button-icon {
    color:#0078d7;
    display:inline-block;
    font-size:12px;
    margin-right:4px;
    text-align:center;
}

.ms-Button.ms-Button--hero .ms-Button-icon .ms-Icon {
    border-radius: 18px;
    border: 1px solid #0078d7;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    width: 18px;
}

.ms-Button.ms-Button--hero .ms-Button-label {
    color: #0078d7;
    font-size: 21px;
    font-weight: 100;
    position: relative;
    text-decoration: none;
    vertical-align: top;
}

.ms-Button.ms-Button--hero:focus .ms-Button-icon,
.ms-Button.ms-Button--hero:hover .ms-Button-icon {
    color: #005a9e;
}

.ms-Button.ms-Button--hero:focus .ms-Button-icon .ms-Icon,
.ms-Button.ms-Button--hero:hover .ms-Button-icon .ms-Icon {
    border: 1px solid #005a9e;
}

.ms-Button.ms-Button--hero:focus .ms-Button-label,
.ms-Button.ms-Button--hero:hover .ms-Button-label {
    color: #004578;
}

.ms-Button.ms-Button--hero:active .ms-Button-icon {
    color: #0078d7;
}

.ms-Button.ms-Button--hero:active .ms-Button-icon .ms-Icon {
    border:1px solid #0078d7;
}

.ms-Button.ms-Button--hero:active .ms-Button-label {
    color: #0078d7;
}

.ms-Button:active .ms-Button-label {
    color: #fff;
}

.ms-Button:focus .ms-Button-label {
    color: #000;
}

.search-area {
  display: none;
}
