<nav class="linggle navbar navbar-default">
  <div class="container-fluid">
    <!-- brand -->
    <div class="navbar-header">
      <a class="navbar-brand"></a>
    </div>
    <!-- form -->
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <!-- search -->
        <div class="input-group">
          <input id="search-bar" type="text" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button id="search-bar-btn" class="linggle btn btn-main" type="button">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </span>
        </div>
        <!-- help -->
        <button class="linggle btn btn-white" type="button" data-toggle="modal" data-target="#linggle-help-modal">
          <i class="fa fa-question" aria-hidden="true"></i>
        </button>
      </div>
    </form>
  </div>
</nav>
